Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
